body {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
background-image: url("/PFEs/figma/pexels-yungsaac-1557251.jpg");
background-size: cover;

}
header{
padding: 20px 20px;
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgba(4, 182, 87, 0.253);
}
footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color:rgba(4, 182, 87, 0.253);
color: #fff;
text-align: center;
width: 100%;
padding: 10px 0px;
}
.body-container{
display: flex;
height: 85vh;
gap: 20px;
align-self: center;
justify-content: space-between;
}
.menubar {
color: rgba(10, 117, 62, 1) ;
background-color:rgba(4, 182, 87, 0.253);
display: flex;
flex-direction: column;
}
nav{
flex-direction: column;
text-align: start;
display: flex;
padding: 10px;
}
a:hover{
  color: #fdfdfd;
  transition: 200ms;
}
a{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fdfdfdb6;
  padding: 10px 20px;
  list-style: none; 
  text-decoration: none;
  font-size: 14px;
}

.right-header {
  display: flex;
  gap: 40px;
  align-items: center;
}

.profile-link {
  color: #fff;
}


.content {
  padding-bottom: 60px; /* Adjust this value to match the height of your footer */
}

.profile {
  color: rgba(10, 117, 62, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border: 1px solid rgba(10, 117, 62, 1);
  border-radius: 8px;
}

.chap {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.profile:hover {
  background-color: rgb(229, 223, 223);
  transition: 300ms;
}

label {
  color: black;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 30px;
  margin: 20px 50px;
  margin-left: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  filter: drop-shadow(0 0 0.7rem rgb(46, 46, 46));
  animation: fadeInUp 0.2s ease forwards;
}

.self {
  place-self: center;
  text-decoration: underline;
}

section form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

section form label {
  font-size: 16px;
}

.icon {
  margin-top: 3px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

section form input[type="text"],
section form input[type="date"] {
  background-color: transparent;
  padding: 10px;
  width: 200px;
  border: 0px;
}

section form select {
  padding: 10px;
  width: 200px;
  border: 1px solid rgba(145, 192, 168, 1);
  border-radius: 8px;
  place-self: center;
}

section form input[type="submit"] {
  padding: 10px 20px;
  background-color: rgba(10, 117, 62, 1);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

section form input[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgba(10, 117, 62, 1);
  color: rgba(10, 117, 62, 1);
}

.lab-input {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.imag {
  position: absolute;
  top: 150px;
  left: 300px;
  height: 300px;
  animation: fadeInUp 0.2s ease forwards;
}
.container{
  color: #e0e0e0;
  flex: 1;
  align-items: center;
  gap: 5px;
  display: flex;
  animation: fadeInUp 0.5s ease forwards;
  filter: drop-shadow(0 0 0.7rem  rgb(52, 52, 52));
}